
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

h2,p{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}